body{
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar{
    list-style: none;
    background-color: #333;
    padding: 0;
    margin: 0;
    text-align: center;
}

.navbar li{
    display: inline-block;
}

.navbar li a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px 25px;
}

.navbar li a:hover{
    background-color: #575757;
}