body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f4f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: white;
    width: 300px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
    text-align: center;
}

.card h2{
    margin-bottom: 15px;
    color: #333;
}

.card p{
    font-size: 16px;
    margin: 8px 0;
}