body{
    margin:0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #e0eafc, #cfdef3);
}

.title{
    text-align:center;
    margin-top:40px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 300px;
}

.box{
    width: 150px;
    height: 150px;
    background-color: lightcoral;
    color: white;
    font-size: 20px;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 15px;
    box-shadow: 0 8px 18px rgba(0,0,0,0.15);
}